{% extends "base.html" %}
{% block content %}
<div>
    <table>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Floor</th>
            <th>Width</th>
            <th>Length</th>
        </tr>
        {% for room in rooms %}
        <tr>
            <td>
                <a href="{% url 'room_detail' room.id %}">
                    {{ room.name }}
                </a>
            </td>
            <td>{{ room.description }}</td>
            <td>{{ room.floor }}</td>
            <td>{{ room.width }}</td>
            <td>{{ room.length }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}